# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# bin folder
bin

# simulation output folder
sim_results

# eclipse's files
.settings
.classpath
.project

# IntelliJ project files
.idea
*.iml
out
gen


.vscode
#/PyTest/__pycache__
#/PyTest/2-data
/py-scripts
/pictures
fcd-data.xml
/doc
